In [6]:
!tree ..

..
├── data
│   ├── dfs.csv
│   ├── master_card.csv
│   ├── paypal.csv
│   └── visa.csv
├── notebooks
│   └── Preprocessing.ipynb
└── src
    ├── backend
    ├── engine
    └── frontend

6 directories, 5 files

In [10]:
import numpy as np
import pandas as pd
from pathlib import Path

In [27]:
BASE = Path('./../').absolute()
DATA = BASE.joinpath('data')

In [30]:
visa = pd.read_csv(DATA.joinpath('visa.csv'))
masterCard = pd.read_csv(DATA.joinpath('master_card.csv'))
dfs = pd.read_csv(DATA.joinpath('dfs.csv'))
paypl = pd.read_csv(DATA.joinpath('paypal.csv'))

In [32]:
visa.shape

(13112, 7)

In [33]:
masterCard.shape

(10533, 7)

In [34]:
dfs.shape

(10158, 7)

In [35]:
paypl.shape

(9966, 7)

In [36]:
visa

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2019-12-06 09:30:00,182.740005,183.059998,182.660004,182.815002,182.815002,170860
1,2019-12-06 09:33:00,182.779999,182.899994,182.779999,182.889999,182.889999,104537
2,2019-12-06 09:34:00,182.880005,182.979996,182.800003,182.869995,182.869995,29550
3,2019-12-06 09:35:00,182.919998,183.279999,182.919998,183.190002,183.190002,36534
4,2019-12-06 09:36:00,183.160004,183.226501,182.929993,182.970001,182.970001,19835
...,...,...,...,...,...,...,...
13107,2020-01-31 15:55:00,198.960000,198.960000,198.550000,198.560000,198.560000,93225
13108,2020-01-31 15:56:00,198.560000,198.580000,198.400000,198.490000,198.490000,137772
13109,2020-01-31 15:57:00,198.480000,198.990000,198.480000,198.990000,198.990000,149520
13110,2020-01-31 15:58:00,198.960000,199.130000,198.800000,199.080000,199.080000,161446
13111,2020-01-31 15:59:00,199.070000,199.130000,198.860000,198.960000,198.960000,224586